:root {
  --color-primary: #0e0e10;
  --color-secondary: #18181b;
  --color-tertiary: #2f2f34;
  --color-accent: #199afc;
  --color-accent-dark: #0c60b4;
  --color-text: #ffffff;
  --color-tag-bg: #27272a;
  --color-red: #ff0000;
}

$color: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-tertiary: var(--color-tertiary);
